:host {
  flex-grow: 1;
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

.astro-telemetry {
  /* display: flex; */
  /* flex-direction: column; */
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;

  padding: 3rem;
  margin: 0.25rem;
}

.astro-telemetry__status {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: stretch;
}

.astro-telemetry__status__group {
  flex-grow: 1;
  background-color: #1b3044;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: stretch;
  padding: 0 1em 1em 1em;
  margin: 1%;
  width: 48%;
  /* outline: 1px solid red; */
}

.astro-telemetry__status__header {
  width: 100%;
  flex-shrink: 0;
  margin: 0 0 0 0.5rem;
  /* outline: 1px solid red; */
}

.astro-telemetry__status__group h3 {
  width: 100%;
  flex-shrink: 0;
  margin: 0.5rem 0 1rem 0;
}
.astro-telemetry__status__group ul {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  color: #bdc3c9;
}

.astro-telemetry__status__group li {
  margin-bottom: 1em;
}

h1,
h2,
h3 {
  font-weight: 300;
}

rux-spectrum-analyzer {
  width: 100%;
  height: 600px;
  border: 1px solid red;
}
