:host {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

.astro-telemetry-panes {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

astro-telemetry-pane {
  margin-right: 0.5rem;
}

astro-telemetry-pane:last-child {
  margin-right: 0;
}

