:host {
  display: flex;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.rux-timeline-component {
  width: 100%;
}

ol {
  counter-reset: tasks;
  list-style-position: inside;
  list-style: none;

  color: #bdc3c9;
  margin: 0;
  padding: 0;
}

ol li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
  height: 2.45rem;
  padding: 0 1rem;
  margin: 0 0 0.325rem 0;
  font-size: 1.125rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);

  background-color: #20313f;
}

ol li::before {
  counter-increment: tasks;
  content: counter(tasks);
  font-weight: bold;
  font-size: 1.75rem;
  color: #fff;
  margin-right: 3.125rem;
}

.rux-timeline__controls {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem 0;
}

.rux-timeline__tasks-status {
}

rux-status {
  margin-left: 1em;
  margin-right: 1em;
}
.rux-button-group {
  margin-left: 1em;
  margin-right: auto;
}

.rux-timeline__tasks-status {
  margin-right: auto;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.8);
}
.rux-timeline__tasks-status__count {
  font-size: 1.75rem;
  color: rgba(255, 255, 255, 1);
}

.tasks-container {
  padding: 1.3rem;
  background: rgba(0, 0, 0, 0.2);
}
