.rux-date-control {
  display: inline-block;
}

label {
  display: block;
  text-align: center;
}

input[type="text"] {
  padding: 6px;
  font-weight: bold;
  font-size: 1.2em;
}

#rux-clock {
  padding: 50px;
  border: 1px solid gray;
  width: 475px;
}

.rux-date-group {
  display: inline-block;
}

.rux-left {
  float: left;
}

.rux-right {
  float: right;
}
