.dark-theme {
  --default-blue: #005a8f;
  --default-hover: #0182ce;
  --default-selected-color: #5cb3ff;
  --font-color: #fff;

  /* Background */
  --background-start: #061c2a;
  --background-middle: #172f42;
  --background-end: #283f58;
  --background: linear-gradient(
    to bottom,
    var(--background-start) 0%,
    var(--background-middle) 50%,
    var(--background-end) 100%
  );

  /* Panes */
  --pane-background-start: #23384e;
  --pane-background-end: #172b40;
  --pane-background: linear-gradient(
    to bottom,
    var(--pane-background-start) 0%,
    var(--pane-background-end) 100%
  );

  /* Button Settings */
  --button-color: #fff;
  --button-background: var(--default-blue);
  --button-border-top: 1px solid rgba(255, 255, 255, 0.1);
  --button-border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  --button-border-left: 1px solid transparent;
  --button-border-right: 1px solid transparent;

  --button-background--hover: var(--default-hover);

  /* Icon Settings */
  --default-icon-color: #329fff;

  /* Tabs Settings */
  --tabs-border-border-highlight: rgba(255, 255, 255, 0.2);
  --tabs-border-border0-shadow: rgba(0, 0, 0, 0.5);
}
