@import url("_dark-theme.css");
@import url("_light-theme.css");



:root {
	
	
	/* Initial Settings */
  --background: var(--background);
  
  
  
  
  /* Typography */
	--font-family: 'Open Sans', sans-serif;
	--font-size: 1em;
  --font-color: var(font-color);
  

  /* Default Icon Color */
  --default-icon-color: var(--default-icon-color);
  --default-icon-size: 44px;
  --small-icon-size: 28px;
  --status-icon-size: 16px;


  /* Status Colors */
  --status-emergency: rgba(244, 18, 46, 1);
  --status-error: rgba(190, 88, 73, 1);
  --status-caution: rgba(247, 229, 59, 1);
  --status-ok: rgba(129, 209, 53, 1);
  --status-standby: rgba(163, 220, 249, 1);
  --status-off: rgba(198, 204, 209, 1);



  
  
}