.dark-theme {
  --paneBackgroundColor: var(--colorSecondaryDarken3, rgb(19, 43, 64));

  --modemListBackgroundColor: var(--colorTertiaryDarken2);

  --modemListItemBackgroundColor: var(--colorTertiaryDarken2);
  --modemListItemAccentColor: var(--colorTertiaryDarken1);

  --modemListItemSelectedBackgroundColor: var(--colorSecondary);
  --modemListItemSelectedAccentColor: var(--colorSecondaryDarken1);
}

.light-theme {
  --paneBackgroundColor: var(--colorTertiaryLighten2, rgb(166, 214, 255));

  --modemListBackgroundColor: var(--colorTertiaryLighten3);

  --modemListItemBackgroundColor: var(--colorTertiaryLighten3);
  --modemListItemAccentColor: var(--colorTertiaryLighten1);

  --modemListItemSelectedBackgroundColor: var(--colorSecondary);
  --modemListItemSelectedAccentColor: var(--colorSecondaryDarken1);
}
