:host {
  height: 100vh;
  width: 200vw;
  display: block;

  contain: content;
}

.chart {
  position: absolute;
  top: 0;
  left: 0;
}
.bar {
  fill: lightblue;
  border: 1px solid red;
}

.bar:hover {
  fill: orange;
}

.axis text,
.text-anchor,
.axis-label {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: lightblue;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.axis text,
.axis-label {
  fill: lightblue;
}
