:host {
  display: flex;
  flex-grow: 1;
  box-sizing: border-box;
  /* background-color: rgba(255, 0, 0, 0.2); */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*[hidden] {
  display: none !important;
}
.rux-tabs--vertical {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  list-style: none;

  width: 6rem;
  padding: 0;
  margin: 0;

  background-color: rgba(0, 0, 0, 0.2);
}

.rux-tabs--vertical li {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  width: 100%;
  height: 8.125rem;

  text-transform: uppercase;
  text-align: center;

  font-size: 0.875rem;
  color: #5cb3ff;

  border-bottom: 1px solid rgba(0, 0, 0, 1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.rux-tabs--vertical li:first-child {
  border-top: none;
}

.rux-tabs--vertical .label {
  max-width: 44px;
  margin: 1em auto 0 auto;
}

.modem-detail__detail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  align-content: flex-start;
  padding: 1.25rem 2rem;
  background-image: var(--pane-background);
}

.modem-detail__detail h1 {
  font-size: 2.375rem;
  margin: 0 0 0.5rem 0;
  width: 100%;
  font-weight: 300;
}

.modem-detail__modem-settings {
  width: 25rem;
  width: 0;
  display: none;
}

.modem-detail__detail__section {
  flex-grow: 1;
  max-width: 22.75rem;
  margin-right: 0.75rem;
}

.modem-detail__detail__section:last-child {
  margin: 0;
}

.modem-detail__detail__section header {
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 0 2px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.modem-detail__detail__section h1 {
  margin: 0;
  padding: 0;
}

.modem-detail__detail__section header {
  padding: 0.5rem 1.25rem;
}
.modem-detail__detail__section dl {
  padding: 0.5rem 1.25rem;
}

.modem-detail__detail__section dl {
  background-color: rgba(0, 0, 0, 0.3);

  margin: 0;
  height: 100%;
}

.modem-detail__detail__section dd {
  color: #fff;
  font-size: 2.5rem;
  line-height: 1;
  margin: 0 0 1.5rem 0;
  padding: 0;
}

.modem-detail__detail__section dt,
.modem-detail__detail__section .label {
  color: #bdc3c9;
  font-size: 1.125rem;
  margin: 0;
  padding: 0;
}
