:host {
  display: flex;
  min-width: 450px;
  margin-right: 3.125rem;
}

.modem-list {
  width: 100%;
  overflow-y: scroll;
}

.modem-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;

  list-style: none;
  padding: 0;
  margin: 0.75rem;
  /* outline: 1px solid orange; */
}

.modem-list__list-item {
  display: flex;
  flex-shrink: 1;
  justify-content: flex-start;
  font-size: 1.375rem;
  color: rgba(255, 255, 255, 0.8);
  background-color: #0f1a24;
  margin: 0 0 0.625rem 0;
  height: 3.5rem;
  min-height: 2rem;
  position: relative;

  box-shadow: 0 1px 0 #000;

  cursor: pointer;
}

.modem-list__header {
  height: 2.3rem;
  font-size: 0.875rem;
}

.modem-list__list-item:not(.modem-list__header)::before {
  content: "";
  width: 6px;
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  background-color: rgba(216, 216, 216, 0.1);
}

.modem-list__list-item[selected] {
  background-color: #004368;
  box-shadow: 0 1px 0 #000;
  color: #fff;
}

.modem-list__list-item[selected]::before {
  background-color: #0080f4;
}

.modem-list--condensed {
}
.modem-list__list-item ul {
  flex-grow: 1;
  padding: 0;
  margin: 0 0 0 0.5rem;

  display: flex;
}
.modem-list__list-item li {
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 12%;
}

.modem-list__list-item li.modem-list__reading {
  width: 22%;
  text-align: right;
}
